footer {
    padding: 10px 20px;
    background-color: #f5f5f5;
    text-align: center;
    color: goldenrod;
}

// Media queries
@media (max-width: 768px) {
    footer {
        padding: 8px 10px;
    }
}
